@import "../components/modal.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
}
