#container {
  display: flex;
  flex-wrap: wrap;
}

input {
  background-color: #f5f8fa;
  border-radius: 18px;
  margin-top: 60px;
  padding: 7px;
  border: 1px solid #e6ecf0;
  margin-bottom: 0;
  width: 60%;
}

